.navbar{
    display: flex;
    height: 12%;
    width: 62%;
    padding-left: 2%;
    align-items: center;
    justify-content: space-between;
}


.navbar-links{
    padding: 0px;
    margin: 0px;

}
.navbar-links li {
    display: inline;
    padding: 0px 25px;
    font-size: 17px;
    opacity: 0.8;
    font-weight: 500;
}
.navbar-links li:hover{
    cursor: pointer;
    opacity: 1;
    text-decoration:underline ;
}

.navbar-btn{
    color: white;
    background: #5659e4;
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}
.navbar-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.navbar-btn span{
    font-size: 14px;
}