.App {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-container {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sidebar-logo {
  height: 12%;
  text-align: center;
  color: #ff5c49;
  cursor: default;
}

.sidebar {
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  background-color: #ff5c49;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.sidebar-active {
  position: relative;
  width: 90%;
  left: 10%;
  background-color: white;
  color: rgba(0, 0, 0, 0.67);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.sidebar-active::before {
  content: "";
  position: absolute;
  background-color: #ff5c49;
  bottom: -55%;
  left: 85%;
  height: 55%;
  width: 16%;
  border-top-right-radius: 25px;
  -webkit-box-shadow: 0 -15px 0 0 white;
          box-shadow: 0 -15px 0 0 white;
}

.sidebar-active::after {
  content: "";
  position: absolute;
  background-color: #ff5c49;
  top: -55%;
  left: 85%;
  height: 55%;
  width: 15%;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 15px 0 0 white;
          box-shadow: 0 15px 0 0 white;
}

.sidebar-icon {
  margin: 10px 0px;
}

.sidebar-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-links {
  padding: 0px;
  margin: 0px;
}

.navbar-links li {
  display: inline;
  padding: 0px 25px;
  font-size: 17px;
  opacity: 0.8;
  font-weight: 500;
}

.navbar-links li:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

.navbar-btn {
  color: white;
  background: #5659e4;
  height: 60%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.navbar-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-btn span {
  font-size: 14px;
}

.main {
  width: 70%;
  padding-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard {
  width: 100%;
  height: 88%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-graph-container {
  width: 100%;
  height: 35%;
  background-color: #1a1a4b;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 30px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-graph {
  height: 100%;
  width: 100%;
  display: relative;
}

.dashboard-task-container {
  width: 100%;
  height: 65%;
}

.dashboard-task-list {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 75%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dashboard-task-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.dashboard-task-list::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}

.dashboard-task-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f4f7fc;
}

.dashboard-task {
  overflow: hidden;
  width: 47%;
  height: 40%;
  background-color: #f4f7fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
  margin-top: 10px;
  border-radius: 8px;
  border-top-left-radius: 30px;
}

.dashboard-task-icon {
  height: 100%;
  width: 25%;
  background-color: #000;
}

.dashboard-task-info {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-task-info h2 {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.dashboard-task-info h5 {
  color: rgba(0, 0, 0, 0.67);
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.dashboard-task-info span {
  color: rgba(0, 0, 0, 0.87);
  margin-left: 15px;
  position: relative;
  bottom: -20px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-task-btn-container {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.dashboard-task-btn {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
}

.collect {
  border: 1px solid #46A093;
  background-color: #46A093;
  color: white;
}

.finish {
  border: 1px solid #5659e4;
  background-color: #5659e4;
  color: white;
}

.pay {
  border: 1px solid #ff5c49;
  background-color: #ff5c49;
  color: white;
}

.dashboard-task-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.statistic-page {
  width: 100%;
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistic-page::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.statistic-page::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}

.statistic-page::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f4f7fc;
}

.statistic-property-card {
  background-color: #f4f7fc;
  color: rgba(0, 0, 0, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  border-top-left-radius: 30px;
  width: 48%;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.statistic-property-card-image {
  width: 100px;
  height: 100px;
  background-color: #000;
  margin-left: 20px;
}

.statistic-property-card-roi {
  width: 90px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: -30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.statistic-property-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 60%;
}

.statistic-property-card-info h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
}

.statistic-property-card-info :nth-child(2) {
  width: 100%;
}

.statistic-property-card-info h4 {
  width: 50%;
}

.profil-preview-container {
  width: 22%;
  margin-left: 2%;
  background-color: #f4f7fc;
  color: rgba(0, 0, 0, 0.67);
}

.profil-nav {
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profil-nav-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.info-preview {
  cursor: default;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-preview {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: black;
}

.portfolio-preview {
  cursor: default;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.protfolio-preview-info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #46A093;
}

.protfolio-preview-info div {
  margin-right: 20px;
}

.preview-tasks-container {
  cursor: default;
  height: 40%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.preview-tasks-container h2, h4 {
  margin: 0px;
  padding: 0px;
}

.preview-tasks-container h2 {
  padding-top: 20px;
}

.preview-task {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  margin-top: 10px;
}

.task-icon {
  width: 42px;
  height: 42px;
  background-color: #000;
}

.task-info {
  margin-left: 10px;
}

.task-info span {
  font-size: 12px;
}

.view-more {
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.view-more:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=app.css.map */